/************** BLOCK ***************/
#ebooks-block-form {
   text-align:center;
}


/************** LOADING *************/

#ebooks-loading-panel {
  font-weight: bold;
  line-height: 24px;
  display: none;
  padding: 15px 0 5px 0;
  font-size: 14px;
}
#ebooks-loading-panel img, #ebooks-3m #ebooks-loading-panel img {
  vertical-align: middle;
  width: 220px;
  height: 19px;
}

/************** 3M ******************/


#ebooks-3m h3 fieldset{
   display:none;
}


#ebooks-3m .fallback{
   display:none;
}

#ebooks-3m img{
   vertical-align:top;
   width: 48px;
   height: 77px;
}

#ebooks-3m p{
   display:inline-block;
   margin-left:10px;
      width:220px;
}

#ebooks-3m a{
   vertical-align:top;
}

#ebooks-3m p strong{
   display:inline-block;

}

#ebooks-3m .form{
   display:inline-block;
   text-align:center;
   float:right;
   display:none;
}

#ebooks-3m h3{
   display:none;
}


#ebooks-3m .no-results{
   display:block;
}

#ebooks-3m #nav-list{
   display:block;
   text-align:center;
   display:none;
}

#ebooks-3m .doc-link{
   display:block;
   clear:both;
   margin-bottom:5px;
}

#ebooks-3m .clear{
   clear:both;
}

#ebooks-3m{

}



/************** OVERDRIVE **************/

#ebooks-overdrive table{
   border-collapse: collapse;
}

#ebooks-overdrive table{
   margin:0px;
   padding:0px;
}

#ebooks-overdrive table tbody{
   border:none;
}

#ebooks-overdrive .ebook-img-col{
  width:40px;
  padding: 0 2px 10px 0;
  margin:0px;
}

#ebooks-overdrive .ebook-img-col img{
   width: 48px;
   height: 77px;
}

#ebooks-overdrive .ebook-img-col .imagecontainer{
   display:block;
}

#ebooks-overdrive .ebook-img-col div{
   display:none;
}

#ebooks-overdrive div small b{
   display:none;
}
#ebooks-overdrive .ebook-empty-col{
   display:none;
}

#ebooks-overdrive .ebook-description-col{
   display:none;
}

#ebooks-overdrive .ebook-source-col{
   display:none;
}

#ebooks-overdrive .ebook-end-item{
   display:none;
}

#ebooks-overdrive{
   width:45%;
   float:right;
}

#ebooks-3m{
   width:45%;
   float:left;
}

#ebooks-3m legend, #ebooks-overdrive legend{
   font-weight: bold;
   padding: 10px 0;
}

/* Search Form Styling */
#ebooks-get-widgets-form fieldset {
  border: none;
}
#edit-ebooks-available-wrapper label {
  font-size: 10px;
  font-family: Arial, sans-serif;
  font-style: italic;
}
